Flask==0.9
Flask-SQLAlchemy==0.16
Flask-Stats==1.0.1
Jinja2==2.6
SQLAlchemy==0.7.8
Werkzeug==0.8.3
argparse==1.2.1
blinker==1.3
psycopg2==2.4.5
statsd==3.1
wsgiref==0.1.2

# Gunicorn
gunicorn==19.3.0
